@charset "utf-8";
/* ................defult................... */
* {
	padding: 0;
	margin: 0;
	outline: none;
	/* border: none; */
	text-decoration: none;	
	box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*.....................................section nav....................*/
#Nav{

 width: 100%;
 height:80px;
background-color: black;

}
  
#Nav span,a{

float:left;
color: white;
margin-left:55px ;
padding:15px;
padding-left:30px; ;
padding-right:30px; ;

}

a:hover{
background-color: chocolate;
padding:15px ;
padding-left:30px; ;
padding-right:30px; ;



}
/*............................................section home...................*/
#home{
 position: relative;
 width: 100%;
 height: 500px;

}


.image{

    width: 100%;
position: absolute;


}
#title {

position: absolute;
width: 100%;

}


#h1{
  text-align: center;
  margin:250px 150px;
color: white;
text-align: center;
font-size:60px ;

}

#p1{
    color: white;
    margin-top:310px; 
    height:28px;
     font-size: 18px;
     font-weight: bold;
    word-spacing: 7px;
    width:300px ;
   background-color: black;
}






/*..............section about...................*/


#divab{

margin-left:550px;
padding:3px;
text-align: center;
color: white;
background: black;
width:400px;
margin-bottom: 30px;
}


#div2ab p{

line-height:40px ;
font-family: cursive, sans-serif;;
font-size:20px;
margin-left:20px ;
}


#div3ab {
     background-color: rgb(231, 224, 224);
    line-height:40px ;
    font-family: cursive, sans-serif;;
    font-size:20px;
    margin:20px ;
    font-style: italic;
    }
    
    /*....................section menue....................*/



    #stylebutton button{
   
        background-color: #635a0b;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin-top:20px;
        cursor: pointer;
        width: 40%;



    }



    #stylebutton button:active{

        background-color: #0e0d0d;





    }


/*........................................section reverse........................*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  


  input[type=submit] {
    width:13%;
    background-color:#635a0b ;
    color: white;
    padding: 13px 20px;
    margin: 8px 0;
    border: none;
    border-radius:4px;
    cursor: pointer;
    font-size:15px;
    font-weight: bolder;
  }
  
  input[type=submit]:hover {
    background-color: #070707;
  }
  
  #divform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  